<mat-toolbar color="primary">

  <div class="brand">
    <a href="/">
      <mat-icon class="logo">catching_pokemon</mat-icon>
      poke<span class="tittle-logo">dex</span>
    </a>
  </div>

  <div class="nav">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>

</mat-toolbar>